.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #98c3f5;
    border: 1px solid red;
}

.header {
    display: flex;
    background-image: linear-gradient(120deg, #efd5ff 10%, #515ada 90%);
    width: 100%;
    border: 1px solid #000000;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    align-self: flex-end;
    padding: 20px;
}
.body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
}

.photo {
    width: 50px;
}
.cals{
    position: absolute;
    left: 10px;
    height: 50px;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bolder;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(120deg, #efd5ff 10%, #515ada 90%);
}
.list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.list>li{
    
    padding: 5px;
    display: inline;
    list-style: none;
    color: #ffffff;
}
.list li img{
    height: 20px;
}