$title: #dc0041;
$link: #585481;
$lilac: #c49bbb;

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt", "liga";
  text-rendering: optimizeLegibility;
  font-family: "JetBrains Mono";
  box-sizing: border-box;
}

:root {
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf")
      format("embedded-opentype"),
    url("./JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("./JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    calc(min(65ch, 100vw))
    1fr;
  margin-bottom: 4rem;
}
.wrapper > * {
  grid-column: 2;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.4375rem;
  color: $title;
  justify-self: center;
}
h2 {
  font-size: 1.3rem;
  font-weight: 100;
  max-width: 90%;
  justify-self: center;
}
.logo {
  display: inline;
  height: 50px;
  width: 50px;
}
.title {
  display: inline;
  font-size: 2.5rem;
  color: $title;
  justify-self: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.formInput {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  max-width: 60%;
}
.input {
  width: 30%;
  max-width: 30%;
  font-size: 16px;
  border: solid 1px $lilac;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  //   padding: 10px 10px;
  background: white;
}
.label {
  position: relative;
  right: 60px;
}
.submit {
  font-size: 1rem;
  font-weight: 600;
  width: calc(min(200px, 50vw));
  margin: 10px;
  border: 1px solid $lilac;
  border-radius: 5px;
  background: white;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $lilac;
  }
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(min(600px, 90vw));
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: solid 1px $lilac;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.15s ease-in-out;
  transition-property: box-shadow;
  &:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
    transform: translate3D(0, -2px, 0);
  }
}

/* tot ce tine de continutul unui card */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.15s ease-in-out;
  transition-property: box-shadow;
}

.cardContent {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 10px 10px;
  width: 100%;
}
.calories {
  width: 50%;
  max-width: 50%;
  border: solid 0.1px #dc0041;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0;
  width: 80%;
  background: none;
}
.labelAndInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.refresh {
  width: 10%;
  position: relative;
  right: 10px;
  top: 10px;
  background-image: url(./svg/refresh_black.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  border: none;
}
.refreshButton {
  border: solid 1px $lilac;
  border-radius: 5px;
  background-color: white;
  margin-left: 5px;
  &:hover {
    background-color: $lilac;
    color: white;
    font-weight: 600;
  }
}
.footer {
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  background-color: lighten($title, 40%);
  font-size: 12px;
  margin-top: 20px;
  padding-top: 20px;
  a {
    color: $link;
    &:hover {
      color: $title;
    }
  }
}
